@page
@model IndexModel
@{
    ViewData["Title"] = "相聚传奇3";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-5">About <a href="http://www.xjmir3.com">相聚传奇3</a>.</h3>
</div>
