<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="CsvHelper" version="28.0.1" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.3.0" targetFramework="net461" />
  <package id="FastExpressionCompiler" version="3.2.1" targetFramework="net461" />
  <package id="FluentValidation" version="10.3.0" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.6" targetFramework="net461" />
  <package id="MySqlConnector" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NPOI" version="2.5.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net452" />
  <package id="Quartz" version="3.2.4" targetFramework="net461" />
  <package id="RulesEngine" version="3.5.0" targetFramework="net461" />
  <package id="Sentry" version="3.11.1" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DirectSound" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.4.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>